
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header style */
.header{
    background-image: url(../Assets/Hero-bg.png);
     
}
.nav-container{
    display: flex;
     align-items: center;
     justify-content: space-between;
}
nav{
    margin-left: 150px;
    margin-right: 150px;
}
nav li{
     list-style: none;
      
}
.nav-logo{
font-size: 34px;
font-weight: black;
color: #4E47FF;
}
/* button style */
.btn-primary { 
color: #FFFFFF;
background-color: #4E47FF;
border-radius: 5px;
padding: 9px 17px;
border: none;
font-size: 16px;
font-weight: bold;
}
.btn-primary :hover{
    background-color: #FD6E0A;
}
/* coll part styles */
.coll{

padding-bottom: 267px;
}
.coll-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: 309px;
    margin-right: 367.5px;
    margin-left: 367.5px;
    margin-bottom:  50px;
}
.text-center{
    text-align: center;
}
.stay{
     margin-bottom: 250px ;
}
/* See It in Action section */
.action{
    margin-top: 62.5px;
    margin-bottom: 62.5px;
    margin-right: 423px;
}
.action-title{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);

}
.action-container{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-left: 150px;
    margin-right: 160px;
    
}
/* image style */
.action-img{
    border-radius: 48px;
    width: 400px;
    height: 330px;

}
/* user style */
.user-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.user-containers{
    display: flex;
      justify-content: center;
      gap: 159px;
}
.user-heading{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
     margin-bottom: 100px;
    
}
.user-father{
    background-color: rgba(78, 71, 255, 0.1);
    margin-right: 160px;
    margin-left: 140px;
    margin-top: 128px;
    border-radius: 24px;
    
}
.user-soon{
    padding: 100px 142px;
    margin-bottom: 100px;
}
/* user say section style */
.card-container{
    display: flex;
     gap: 20px;
}
.reviewer{
    display: flex;
    /* margin: 173px 302px 30px 24px; */
gap: 20px;
margin-left: 20px;
}
.card{
    background-color: whitesmoke;
    border-radius: 14px;
    margin-top: 99px;
    width: 500px;
    height: 300px;
   
    
}
.card-title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.card-father{
    margin: 132px 137px;
}
.stars{
    margin: 24px 202.67px 24px 24px;
}
.card-son{
    /* margin:  68px 24px 94px 24px ; */
    margin-left: 20px;
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
}
.card-description{
    /* margin: 0px 24px 94px 24px; */
    margin-left: 20px;
}
.name{
margin-left: 12px;
margin-top: 25px;
font-size: 16px;
font-weight: 800px;
color: rgba(117, 117, 117, 1);
}
.date{
    margin-top: 25px;
margin-left: 12px;
font-size: 16;
color: rgba(179, 179, 179, 1);
}
.r-image{
    margin-top: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}